// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

ul {
  list-style: none;
}

li {
  color: darkgray;
}

body {
  font-family: 'Courier New', Courier, monospace;
  color: darkgray;
}

a {
  text-decoration: none;
  color: darkgray;
}

img {
  height: 50px;
  width: 50px;
}
